/* Specify font inheritance of form elements */
input {
  border-radius: 0;
  font: inherit;
  background-color: transparent;
  border-style: none;
}

input:focus {
  outline-width: 0;
}

/* Remove the additional ':invalid' styles in Firefox. See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737 */
:-moz-ui-invalid {
  box-shadow: none;
}
