/* Remove the gray background on active links in IE 10 */
a {
  background-color: transparent;
}

/* Remove the outline when hovering in all browsers */
a:active,
a:hover,
a:focus {
  outline-width: 0;
}
