/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
}

/* 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`controls in Android 4 */
/* 2. Correct the inability to style clickable types in iOS */
button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/* Remove inner padding and border in Firefox 4+ */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
:-moz-focusring,
::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

/* 1. Address `overflow` set to `hidden` in IE 8/9/10/11 */
/* 2. Firefox 40+, Internet Explorer 11- */
/* 3. Specify font inheritance of form elements */
button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
  font: inherit; /* 3 */
  background-color: transparent;
  border-style: none;
}

button:focus {
  outline-width: 0;
}
