/* 1. Correct `color` not being inherited in IE 8/9/10/11 */
/* 2. Correct the color inheritance from `fieldset` elements in IE */
/* 3. Correct the text wrapping in Edge and IE */
/* 4. Correct the text wrapping in Edge 18- and IE */
legend {
  border: 0; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 3 */
  max-width: 100%; /* 3 */
  white-space: normal; /* 3 */
  max-width: 100%; /* 4 */
}
